*{
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
}

.header-container{
    display: flex;


}

#logo-container{

    flex-grow: 1;
}

#logo{

    position: relative;
    width:230px;
    left: 60px;
    top:20px;
}

#admin-nav{

    display: flex;
    flex-grow:1;
    position: relative;
    top: 40;

}

#admin-menu{

    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
}

#main-menu{

    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: 20px;
}

li{
    position: relative;
}

li:hover::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color:grey;
}

#main-menu > li:hover::after{
    background-color: yellow;

}

#welcome1{
    width: 100%;
}

span{margin: 10px;}


